In [4]:
#方法一
import pandas as pd
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}
type(data)

dict

In [5]:
visitors_1 = pd.DataFrame(data)
type(visitors_1)

pandas.core.frame.DataFrame

In [6]:
print(visitors_1)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [8]:
#方法二
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

#建立兩個list，分別是欄位的名稱和其內容
list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]
type(list_cols)

list

In [9]:
#利用zip函數來組合list_labels和list_cols
#https://www.runoob.com/python/python-func-zip.html
zipped = list(zip(list_labels, list_cols))
type(zipped)

list

In [10]:
#將zipped轉為dictionary並建立dataframe
visitors_2 = pd.DataFrame(dict(zipped))
type(visitors_2)

pandas.core.frame.DataFrame

In [11]:
print(visitors_2)

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [26]:
#https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas
visitors_1.groupby(by="weekday", as_index=False)['visitor'].mean()

  weekday  visitor
0     Mon      391
1     Sun      188

In [14]:
###################################################################################################
#請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame
#Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家
import pandas as pd
data = {'country': ['USA', 'TW', 'JAPAN', 'KOREAN'],
        'people': [1000, 20, 300, 200],}            #數字記得不用加上''

In [23]:
visitors_3 = pd.DataFrame(data)
print(visitors_3)

  country people
0     USA   1000
1      TW     20
2   JAPAN    300
3  KOREAN    200

In [28]:
visitors_3.groupby(by="country", as_index=False)["people"].max()

  country people
0   JAPAN    300
1  KOREAN    200
2      TW     20
3     USA   1000